<!DOCTYPE html>
<html>
  <p><a href="/"> HOME PAGE </a></p>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />

    <img
      src="asset/logo_berties.png"
      alt="bookstore Logo"
      width="60"
      height="60"
    />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>We sell many good books!</p>
  </body>
</html>
