<!doctype html>
<html>
  <head>
    <p><a  href="/"> HOME PAGE </a></p>
    <title>Delete user page for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Delete a user in <%=shopName%></h1>
    <form method="POST" action="/userdeleted">
        <p>username: <input id="userName" type="text" name="userName" value="userName" /></p>
        <input type="submit" value="deleteuser"/>
      </form>
  </body>
</html>