<!doctype html>
<html>
  <head>
    <p><a  href="/"> HOME PAGE </a></p>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/login">
        <p>password :<input id="password" type="text" name="password" value="password"/></p>
        <p>Email: <input id="email" type="email" name="email" value="email" /></p>
        <input type="submit" value="login"/>
      </form>
  </body>
</html>