<!doctype html>
<html>
  <head>
    <p><a  href="/"> HOME PAGE </a></p>
    <title>LOGIN for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>LOGIN for <%=shopName%></h1>
    <form method="POST" action="/loggedin">
        <p>userName: <input id="userName" type="text" name="userName" value="" /></p>
        <p>password :<input id="password" type="text" name="password" value=""/></p>
        <input type="submit" value="login"/>
      </form>
  </body>
</html>
