<!DOCTYPE html>
<html>
  <head>
    <p><a href="/"> HOME PAGE </a></p>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/registered">
      <p>
        First Name :
        <input id="firstName" type="text" name="firstName" value="" />
      </p>
      <p>
        Last Name : <input id="lastName" type="text" name="lastName" value="" />
      </p>
      <p> 
        Username : <input id="userName" type="text" name="userName" value="" />
      </p>

      <p>
        Password :<input
          id="password"
          type="text"
          name="password"
          value=""
        />
      </p>
      <p>Email: <input id="email" type="text" name="email" value="" /></p>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
