<!DOCTYPE html>
<html>
  <head>
    <p><a href="/"> HOME PAGE </a></p>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/registered">
      <p>
        First name:
        <input id="firstName" type="text" name="firstName" value="firstName" />
      </p>
      <p>
        Last name: <input id="lastName" type="text" name="lastName" value="lastName" />
      </p>
      <p> 
        Username: <input id="userName" type="text" name="userName" value="userName" />
      </p>

      <p>
        password :<input
          id="password"
          type="text"
          name="password"
          value="password"
        />
      </p>
      <p>Email: <input id="email" type="text" name="email" value="email" /></p>
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
