<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" type="text/css" href="main.css" />

  </head>

  <body>

    <% for(var i = 0; i < tvshows.length; i++) { %> 
      <p><%= tvshows[i].show.name %> <br>
        Rating = <%= tvshows[i].show.rating.average %> <br>
        Summary = <%= tvshows[i].show.summary %> </p>
           <% } %>

          </body>
</html>

