<!doctype html>
<html>
  <p><a  href="/"> HOME PAGE </a></p>
  <head>
    <title>Search City's weather</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Search weather in <%=shopName%></h1>
    <form action="/weather-result" method="GET">
      <p>Which city's weather do you want?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>    
  </body>
</html>

