<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <% if (weather) { %>
      <h1>Weather in <%= weather.name %></h1>
      <p>Temperature: <%= weather.main.temp %> °C</p>


  </body>
</html>
